.card-image {
	height: 50%;
	width: 50%;
}


#top {
	background-image: url('../images/topbackground.png');
	background-size: 100% 100%;
	padding-bottom: 5%;
}

#intro {
	padding-left: 5%;
}

#articles {
	padding-top: 5%;
	padding-bottom: 5%;
}

#projects {
	background-image: url('../images/samplebackground.png');
	background-size: 100% 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}

#about {
	padding-top: 5%;
	padding-bottom: 5%;
}

#permaweb {
	background-image: url('../images/samplebackground.png');
	background-size: 100% 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
}

#joinUs {
	padding-top: 5%;
	padding-bottom: 5%;
}

#submitproposal {
	background-image: url('../images/samplebackground.png');
	background-size: 100% 100%;
	padding-top: 5%;
}