.card-image {
	height: 50%;
	width: 50%;
}

#top {
	background-image: url('../images/background_1.png');
	background-size: 100% 100%;
	padding-bottom: 15%;
}

#intro {
	padding-left: 5%;
}

#articles {
	padding-top: 15%;
	padding-bottom: 15%;
}

#projects {
	background-image: url('../images/background_2.png');
	background-size: 100% 100%;
	padding-top: 15%;
	padding-bottom: 15%;
}

#about {
	padding-top: 15%;
	padding-bottom: 15%;
}

#permaweb {
	background-image: url('../images/background_3.png');
	background-size: 100% 100%;
	padding-top: 15%;
	padding-bottom: 15%;
	padding-left: 5%;
}

#joinUs {
	padding-top: 15%;
	padding-bottom: 15%;
}

#submitproposal {
	background-image: url('../images/background_4.png');
	background-size: 100% 100%;
	padding-top: 15%;
}